{% extends "base.html" %}
{% block title %}
{% if is_edit %}
  Редактировать запись
{% else %}
  Добавить запись
{% endif %}
{% endblock %}
{% block content %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                {% if is_edit %}
                  Редактировать запись
                {% else %}
                  Добавить запись
                {% endif %}
              </div>
              <div class="card-body">
                {% include 'includes/form_errors.html' %}
                {% if is_edit %}
                  <form method="post" action="{% url 'posts:post_edit' form.instance.id %}">
                {% else %}
                  <form method="post" action="{% url 'posts:post_create' %}">
                {% endif %}
                {% include 'includes/for_form.html' %}
                  <div class="d-flex justify-content-end">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
